* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
p {
  color: #fff;
}
input {
  color: #000;
}

.title {
  width: 100vw;
  height: 20vh;
}

.input-field {
  border-radius: 10px;
  width: 12rem;
  height: 5rem;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.enter-button {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;
  background-color: #1f969a;
}

.enter-button:hover:after {
  color: #fff;
  content: "Enter";
  border-bottom: 1px bold rgba(0, 0, 0, 0.283);
}

.video-wrap {
  position: relative;
}

#bg-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
}

#my-output {
  font-size: 2rem;
  color: #fff;
  border-bottom: 10px white;
}

.type {
  color: #fff;
}

.py-box-container {
  background-color: #ffffff8c;
}

.numberIsBox {
  width: auto;
  height: auto;
  margin-left: 1rem;
  font-size: 3rem;
  padding: 0 2rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.501);
}

.nums_enter {
  display: flex;
  justify-content: space-around;
  margin: 0 7rem;
}

.image-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  justify-items: start;
  flex-grow: 1;
}

.numbers {
  width: 150px;
  height: 150px;
}

.enter {
  margin-top: 3rem;
  margin-right: 5rem;
}
.active {
  filter: grayscale(100%);
  /* transform: scale(0.85);
  box-shadow: 3px 2px 25px 1px rgba(0, 0, 0, 0.25); */
}

#unknown-letters {
  font-size: 18rem;
  color: #1f969a;
}

#input-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#letter_input {
  padding: 10px;
  width: 12rem;
  height: 5rem;
  font-size: 1.5rem;
  border-radius: 10px;
}

#hint {
  font-size: 3rem;
}

#key {
  font-size: 5rem;
}

#key:hover {
  cursor: pointer;
}

.sakura {
  background-color: #000;
  background-image: url("./assets/chohan.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 65%;
}

.cho-han-btns-container {
  width: 100%;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
}

.chohanBtns {
  width: 10rem;
  height: 10rem;
  font-size: 5rem;
  border: 0 solid #135a5d;
  border-radius: 50%;
  padding: 0;
  background: radial-gradient(
    farthest-corner at 150px 50px,
    #b0dfe1 0%,
    #1f969a 60%
  );
  font-family: Arial;
  white-space: nowrap;
  box-shadow: 0px 20px #135a5d, -10px 40px 10px rgba(139, 138, 138, 0.25);
  cursor: pointer;
  transition: 0.4s;
  background-color: #26bfc5;
}
.pushed {
  transform: translateY(20px);
  background: radial-gradient(
    farthest-corner at 150px 50px,
    #b9e4e6 0%,
    #1f969a 60%
  );
  box-shadow: 0px 0px transparent, -5px 20px 10px rgba(0, 0, 0, 0.25);
}

.tobaku {
  position: fixed;
  bottom: 5rem;
}
