* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: "Poppins", sans-serif;
}

.description {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui-level {
  font-size: 4rem;
  padding-top: 2rem;
}
.ui-message {
  font-size: 2rem;
}
