@font-face {
  font-family: 'Steamwreck';
  src: url('./assets/font/SteamwreckBold-e3Xp.ttf') format('truetype');
  src: url('./assets/font/Steamwreck-07pd.ttf') format('truetype');
  src: url('./assets/font/SteamwreckBoldItalic-WLBY.ttf') format('truetype');
  src: url('./assets/font/SteamwreckItalic-aqmE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #0f4c51;
  --dark-opacity: rgba(79, 16, 16, 0.925);
  --light: rgb(9, 82, 106);
  --light-opacity: rgba(45, 239, 145, 0.8);
  --white: #eeeeee;
  --intro-font: "Aria", "Helvetica", "sans-serif";
  --main-font: "Steampunk", "Aria", "Helvetica", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1, h2, li, p {
  font-family: var(--main-font);
}

button {
  cursor: pointer;
}

#popup, #popup-info {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark-opacity);
  color: var(--white);
  max-width: 40rem;
  line-height: 1.5;
  font-size: 1.2rem;
  padding: 3rem;
  border: 5px var(--light) solid;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  font-family: var(--intro-font);
  justify-content: center;
  align-items: center;
}
#popup-info{
  font-family: var(--main-font);
}

#finish {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 6s ease-in-out;
  background: var(--dark-opacity);
  color: var(--white);
  max-width: 40rem;
  line-height: 1.5;
  font-size: 1.2rem;
  padding: 3rem;
  border: 5px var(--light) solid;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  font-family: var(--intro-font);
  justify-content: center;
  align-items: center;
}

#finish.scaleup{
  transform: translate(-50%, -50%) scale(1);
}

.hidden{
  visibility: hidden;
}

#background-black{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: black;
  z-index: 2;
}
#timetravel, #wrapper-finish{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: black;
  z-index: 1;

}

#timetravel video{
  height: 100vh;
  width: 100vw;
}

#scene{
 position: relative;
 z-index: 0;
}

#popup button, #next-level-button {
  padding: 1rem;
  border: 5px var(--light) solid;
  font-family: var(--main-font);
  font-size: 1.2rem;
  color: var(--dark);
}

#info-button {
  position: fixed;
  z-index: 1;
  right: 1.5rem;
  top: 1.5rem;
  font-family: var(--main-font);
  font-size: 2rem;
  background: var(--dark-opacity);
  color: var(--white);
  border: 3px var(--light) solid;
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}

#music-button {
  position: fixed;
  z-index: 1;
  right: 1.5rem;
  top: 5rem;
  font-family: var(--main-font);
  font-size: 2rem;
  background: var(--dark-opacity);
  color: var(--white);
  border: 3px var(--light) solid;
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
